-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "public"."app_users" (
    "id" INTEGER NOT NULL,
    "name" VARCHAR(255),
    "surname" VARCHAR(255),
    "mail" VARCHAR(255),
    "password" VARCHAR(255),
    "role" VARCHAR(1),
    "date_create" DATE,
    "date_eliminate" DATE,

    CONSTRAINT "app_users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."category" (
    "id" INTEGER NOT NULL,
    "category" VARCHAR(255),
    "icon" VARCHAR(255),

    CONSTRAINT "category_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."expense" (
    "id" INTEGER NOT NULL,
    "userid" INTEGER,
    "date_create" DATE,
    "date_update" DATE,
    "category_id" INTEGER,
    "amount" DECIMAL,
    "note" VARCHAR(1000),

    CONSTRAINT "expense_pkey" PRIMARY KEY ("id")
);

-- AddForeignKey
ALTER TABLE "public"."expense" ADD CONSTRAINT "expense_category_id_fkey" FOREIGN KEY ("category_id") REFERENCES "public"."category"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."expense" ADD CONSTRAINT "expense_userid_fkey" FOREIGN KEY ("userid") REFERENCES "public"."app_users"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

